**/node_modules
**/package-lock.json
**/dist
**/dist-ssr
*.local

**/db.sqlite3

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

config/*
!config/README.md
/staticfiles
**/staticfiles

# Python
**/.venv
**/__pycache__/
**/media

# misc
.env
**/.env.local
**/.env.development.local
.env.production.local