{# djlint:off H021,H006,H030,H031 #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static '/favicon.svg' %}" type="image/svg+xml" />
    <link rel="stylesheet" href="{% static '/css/form.css' %}" />
    <link rel="stylesheet" href="{% static '/css/base_template.css' %}" />
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
    <link rel="stylesheet" href="{% static '/css/icons.css' %}" />
    <style>
      @font-face {
          font-family: Geist;
          src: url("{% static '/fonts/Geist.woff2' %}") format("woff2 supports variations"),
          url("{% static '/fonts/Geist.woff2' %}") format("woff2-variations");
          font-weight: 100 900;
          font-display: swap;
      }
    </style>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <script src="{% static '/js/htmx.js' %}"></script>
  </head>
  <body class="h-screen" style="max-height: 100vh; overflow:hidden">
    <div class="bg-background flex border-b border-gray-300 shadow-sm"
         style="height:4rem">
      <div class="flex place-items-center justify-between w-full container px-2">
        <img src="{% static '/images/logo.svg' %}"
             alt="FileGuard Logo"
             style="height: 2rem;
                    width: auto"
             class="logo" />
        {% if request.active_session.is_valid %}
          <form method="post" action="{% url 'security:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm">
              <span class="icon icon-logout"></span>
              Logout
            </button>
          </form>
        {% endif %}
      </div>
    </div>
    <div class="container flex flex-col"
         style="overflow:hidden;
                height: calc(100vh - 4rem)">
      {% block content %}
      {% endblock content %}
    </div>
    <script>
      // Global HTMX configuration for CSRF token
      document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });
    </script>
  </body>
</html>
