{# djlint:off H021,H023 #}
<div class="hidden-tablet hidden-desktop">
  <div class="flex place-items-center gap-2 flex-wrap p-2 bg-gray-200 small">
    {% for crumb in breadcrumbs %}
      <button hx-get="{% url 'dashboard:list_encrypted_files' directory=crumb.id %}"
              hx-swap="innerHTML"
              hx-target="#directory_contents"
              class="btn-link-black btn-sm inline-block">{{ crumb.name }}</button>
      {% if not forloop.last %}<span class="ic-md ic-chevron-right ic-gray-50"></span>{% endif %}
    {% endfor %}
  </div>
  <div class="text-right m-2">
    <button hx-on:click="document.getElementById('create-directory-dialog').showModal()"
            class="btn-ghost btn-sm">Create Directory</button>
    <button hx-on:click="document.getElementById('upload-file-dialog').showModal()"
            class="btn-primary btn-sm">Upload File</button>
  </div>
</div>
<div class="flex justify-between place-items-center items-center my-3 px-2 hidden-mobile">
  <div class="flex place-items-center gap-2">
    {% for crumb in breadcrumbs %}
      <button hx-get="{% url 'dashboard:list_encrypted_files' directory=crumb.id %}"
              hx-swap="innerHTML"
              hx-target="#directory_contents"
              class="btn-light btn-md">{{ crumb.name }}</button>
      {% if not forloop.last %}<span class="ic-md ic-chevron-right ic-gray-50"></span>{% endif %}
    {% endfor %}
  </div>
  <div class="flex gap-3">
    <!-- Create directory -->
    <button id="openDialogBtn"
            hx-on:click="document.getElementById('create-directory-dialog').showModal()"
            class="btn-ghost btn-md">Create Directory</button>
    <!-- Upload -->
    <button id="openUploadDialogBtn"
            hx-on:click="document.getElementById('upload-file-dialog').showModal()"
            class="btn-primary btn-md">Upload File</button>
  </div>
</div>
<dialog id="create-directory-dialog">
  <div class="dialog-header">
    <h2>Creating new Directory</h2>
    <button class="dialog-close-button"
            hx-on:click="document.getElementById('create-directory-dialog').close()">&times;</button>
  </div>
  <div class="dialog-content">
    <form hx-post="{% url 'dashboard:create_directory_form' %}"
          hx-swap="innerHTML"
          hx-target="#directory_contents"
          class="w-full">
      {% csrf_token %}
      {{ create_directory_form.as_p }}
      <button type="submit" class="btn-primary">Create Directory</button>
    </form>
  </div>
</dialog>
<dialog id="upload-file-dialog">
  <div class="dialog-header">
    <h2>Upload File</h2>
    <button class="dialog-close-button"
            hx-on:click="document.getElementById('upload-file-dialog').close()">&times;</button>
  </div>
  <div class="dialog-content">
    <form hx-post="{% url 'dashboard:upload_file_form' %}"
          hx-target="#directory_contents"
          hx-swap="innerHTML"
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ upload_file_form.as_p }}
      <button type="submit" class="btn-primary">Encrypt & Upload</button>
    </form>
  </div>
</dialog>
<!-- Directory Contents -->
<div class="flex-1 flex flex-col px-2" style="overflow:hidden">
  <div class="grid border-b border-gray-400 pb-2 pt-3 px-1 grid-cols-8 mobile:grid-cols-7 gap-4 text-sm">
    <div class="font-medium col-span-4 mobile:col-span-5">Name</div>
    <div class="font-medium hidden-mobile col-span-3">Date</div>
    <div class="font-medium col-span-1">Size</div>
  </div>
  <div class="flex-1" style="overflow-y: auto;">
    <!-- Directories and Files -->
    {% if files or subdirectories %}
      {% for subdir in subdirectories %}
        <div class="grid border-b border-gray-200 py-3 text-sm hover-opaque px-1 grid-cols-8 mobile:grid-cols-7 gap-4">
          <div class="col-span-4 mobile:col-span-5">
            <button hx-get="{% url 'dashboard:list_encrypted_files' directory=subdir.pk %}"
                    hx-swap="innerhtml"
                    hx-target="#directory_contents"
                    class="btn-link-black font-medium text-sm w-full text-left flex place-items-center">
              <span class="ic ic-gray-75 ic-folder mr-3"></span>{{ subdir.name }}
            </button>
          </div>
          <div class="hidden-mobile col-span-3">{{ subdir.created_on|date:"Y-m-d H:i" }}</div>
          <div class="col-span-1"></div>
        </div>
      {% endfor %}
      <div id="file-list">
        {% for file in files %}
          {% include "file_manager/list_file_item.html" with file=file %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="border-b border-gray-200 py-3 text-sm text-gray-600">Directory is empty</div>
  {% endif %}
</div>
<!-- track state of file uploads -->
<script>
    // make a oberservable to detect changes in the file list
    const observer = new MutationObserver((mutations) => {
      mutations.forEach(mutation => {
        if (mutation.type === 'childList') {
          const fileElements = document.querySelectorAll('[data-status="PROCESSING"], [data-status="PENDING"]');
          if (fileElements.length === 0) {
            return;
          }
          fileElements.forEach(el => {
            // if mutation has triggered before then dont retrigger
            if (el.getAttribute('data-status') === 'SUCCESS' || el.getAttribute('data-status') === 'FAILED') {
              return;
            }
            // add skeleton-shimmer class
            el.classList.add('skeleton-shimmer');
            // every 1 second, poll the server for update
            file_id = el.getAttribute('data-file-id');
            const intervalId = setInterval(() => {
              fetch(`/dashboard/task_status/${file_id}/`)
                .then(response => response.json())
                .then(data => {
                  if (data.status === 'SUCCESS') {
                    el.classList.remove('skeleton-shimmer');
                    el.setAttribute('data-status', 'SUCCESS');
                  } else if (data.status === 'FAILED') {
                    el.classList.remove('skeleton-shimmer');
                    el.classList.add('text-red-500');
                    el.setAttribute('data-status', 'FAILED');
                  }
                  // stop polling
                  clearInterval(intervalId);
                  if (data.status !== 'SUCCESS' && data.status != 'FAILED') {
                    return; // continue polling
                  }
                  // refetch the item row to update the UI
                  reload_item_row(file_id);
                });
            }, 1000); // Poll every second
          });
        }
      });
    });
    // Start observing the directory contents for changes
    const directoryContents = document.getElementById('directory_contents');
    if (directoryContents) {
      observer.observe(directoryContents, {
        childList: true,
        subtree: true
      });
    }

    function reload_item_row(fileId) {
      const fileRow = document.querySelector(`[data-file-id="${fileId}"]`);
      if (fileRow) {
        fetch(`/dashboard/file/${fileId}/`)
          .then(response => response.text())
          .then(html => {
            // replace fileRow
            fileRow.outerHTML = html;
          });
      }
    }
</script>
