{# djlint:off H021,H023 #}
<div class="grid border-b border-gray-300 py-2 align-items-center text-sm hover-opaque px-1 grid-cols-8 mobile:grid-cols-7 gap-4"
     id="file-item-{{ file.id }}"
     aria-label="File: {{ file.original_filename }}"
     data-status="{{ file.status }}"
     data-file-id="{{ file.id }}"
     data-file-name="{{ file.original_filename }}">
  <div class="col-span-4 mobile:col-span-5 flex place-items-center">
    <span class="ic ic-file ic-{{ file.extension }} mr-3 ic-gray-75"></span>
    <div>
      {% if file.status == 'COMPLETED' or file.status == 'DECRYPTED' %}
        <button class="btn-link-black justify-start font-medium text-sm w-full text-left truncate overflow-ellipsis"
                hx-get="{% url 'dashboard:decrypt_file' file_id=file.id %}"
                hx-swap="beforeend"
                hx-target="#decrypt-file-dialog-container"
                hx-on::before-request="document.querySelectorAll('#decrypt-file-dialog').forEach(dialog => { if (dialog.open) { dialog.close(); } dialog.remove(); }); ">
          {{ file.original_filename }}
        </button>
      {% elif file.status == 'FAILED' %}
        <span style="color: red;">{{ file.original_filename }}
          <br />
        Processing Failed</span>
      {% elif file.status == 'PENDING' %}
        <span>{{ file.original_filename }}</span>
      {% else %}
        <span>{{ file.original_filename }}</span>
        <br />
        <i>{{ file.status|capfirst }}</i>
      {% endif %}
      <div id="decrypt-file-dialog-container"
           hx-on::after-settle="const newDialog = event.detail.elt.querySelector('#decrypt-file-dialog'); if (newDialog) { newDialog.showModal(); } else { console.warn('Dialog #decrypt-file-dialog not found after swap.'); }">
      </div>
    </div>
  </div>
  <div class="hidden-mobile col-span-3">{{ file.upload_date|date:"Y-m-d H:i" }}</div>
  <div class="col-span-1 justify-between flex place-items-center">
    <span>{{ file.file_size|filesizeformat }}</span>
    <div class="mr-2 relative">
      <button class="btn btn-sm btn-link-black hover-opaque"
              style="height:24px;
                     width:24px"
              id="file-{{ file.id }}-options">
        <span class="ic ic-options-vertical"></span>
      </button>
      <div class="absolute right-0 hidden z-10 bg-white border border-gray-300 rounded-2 shadow"
           id="file-{{ file.id }}-options-menu"
           style="min-width: 10rem">
        <div class="py-1">
          <button hx-get="{% url 'dashboard:decrypt_file' file_id=file.id %}"
                  hx-swap="beforeend"
                  hx-target="#decrypt-file-dialog-container"
                  hx-on::before-request="document.querySelectorAll('#decrypt-file-dialog').forEach(dialog => { if (dialog.open) { dialog.close(); } dialog.remove(); }); "
                  class="btn btn-ghost btn-md justify-start w-full text-left">
            <span class="ic ic-download mr-2"></span>
            <span>Download</span>
          </button>
          <button hx-delete="{% url 'dashboard:mark_file_for_deletion' file_id=file.id %}"
                  hx-confirm="Are you sure you want to delete '{{ file.original_filename }}'?"
                  hx-target="#file-item-{{ file.id }}"
                  hx-swap="outerHTML"
                  class="btn btn-danger-ghost btn-md justify-start w-full text-left">
            <span class="ic ic-delete mr-2 ic-danger"></span>
            <span>Delete</span>
          </button>
        </div>
      </div>
      <script type="text/javascript">
          document.getElementById('file-{{ file.id }}-options').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('file-{{ file.id }}-options-menu').classList.toggle('hidden');
          });

          document.addEventListener('click', function(event) {
            if (!document.getElementById('file-{{ file.id }}-options').contains(event.target) && !document.getElementById('file-{{ file.id }}-options-menu').contains(event.target)) {
              document.getElementById('file-{{ file.id }}-options-menu').classList.add('hidden');
            }
          });
      </script>
    </div>
  </div>
</div>
