{# djlint:off H021,H023 #}
<div class="grid border-b border-gray-300 py-3 text-sm hover-opaque px-1"
     aria-label="File: {{ file.original_filename }}"
     data-status="{{ file.status }}"
     data-file-id="{{ file.id }}"
     data-file-name="{{ file.original_filename }}"
     style="grid-template-columns: repeat(12, 1fr);
            gap: 20px">
  <div class="pl-2" style="grid-column: span 4;">
    <button class="btn-link-black font-medium text-sm w-full text-left flex place-items-center">
      <span class="ic ic-file ic-{{ file.extension }} mr-3 ic-gray-75"></span>{{ file.original_filename }}
    </button>
  </div>
  <div style="grid-column: span 2;">{{ file.upload_date|date:"Y-m-d H:i" }}</div>
  <div style="grid-column: span 2;">{{ file.file_size|filesizeformat }}</div>
  <div style="grid-column: span 4;">
    {% if file.status == 'COMPLETED' or file.status == 'DECRYPTED' %}
      <button class="btn-link-black text-sm"
              hx-get="{% url 'dashboard:decrypt_file' file_id=file.id %}"
              hx-swap="beforeend"
              hx-target="#decrypt-file-dialog-container"
              hx-on::before-request="document.querySelectorAll('#decrypt-file-dialog').forEach(dialog => { if (dialog.open) { dialog.close(); } dialog.remove(); }); ">
        Download
      </button>
      <div id="decrypt-file-dialog-container"
           hx-on::after-settle="const newDialog = event.detail.elt.querySelector('#decrypt-file-dialog'); if (newDialog) { newDialog.showModal(); } else { console.warn('Dialog #decrypt-file-dialog not found after swap.'); }">
      </div>
    {% elif file.status == 'FAILED' %}
      <span style="color: red;">Processing Failed</span>
    {% endif %}
  </div>
</div>
